<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
  <title>Reloj</title>
  <link rel="icon" type="image/png" href="Image/favicon.png">
  <script src="angular.min.js"></script>
  <style>
      @font-face 
      {
        font-family: roboto;
        src: url('Font/Roboto/Roboto-Light.ttf') format('truetype');
      }
      .fuente_reloj
      {
        font-family: roboto;
        font-size: 72px;
      }
      .presente
      {
        background-color: #1A0B3B;
        color: #979E3D;
      }
      .pasado
      {
        background-color: #CCC !important;
      }
  </style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
  <!--script src="dias.js"></script-->
    <div ng-app="myApp">
      <div ng-controller='TimeCtrl'>
        <div class="fuente_reloj presente">{{ clock | date:'yyyy-MM-dd HH:mm:ss Z'}}</div>
          Búscar: <input ng-model="query" />
          <table class="table table-striped table-hover">
            <tr>
              <th>
                ΔDIA(S)  
              </th>
              <th>
                ΔSEGUNDO(S)  
              </th>
              <th>
                DESCRIPCIÓN
              </th>
              <th>
                FECHA
              </th>
            </tr>
            <tr ng-repeat="fecha in getFechas() | orderBy:'dia':false | filter:query" class="{{ EsPasado(fecha.dia) }}">
              <td>
                {{ DiferenciaEnDias(fecha.dia) | number:0 }}
              </td>
              <td>
                {{ DiferenciaEnSegundos(fecha.dia) | number:0 }}
              </td>
              <td>
                {{ fecha.descripcion }}
              </td>
              <td>
                {{fecha.dia  | date:'yyyy-MM-dd' }}
              </td>
            </tr>
          </table>
      </div>
    </div>
</div>

<script>
var module = angular.module('myApp', []);
module.controller('TimeCtrl', function($scope, $interval) {
  $scope.autor = "Luis Miguel Bravo";
  var fechas = [
  {
    descripcion : 'Llegada a Santiago de Chile',
    dia : new Date("10/19/2016")
  },
  {
    descripcion : 'Mudanza a nuevo departamento',
    dia : new Date("5/1/2017")
  },
  {
    descripcion : 'Maraton de programación',
    dia : new Date("11/26/2016")
  },
  {
    descripcion : 'Inicio 2BRAINS',
    dia : new Date("11/2/2016")
  },
  {
    descripcion : 'Navidad',
    dia : new Date("12/24/2016")
  },
  {
    descripcion : 'Año nuevo',
    dia : new Date("12/31/2016")
  },
  {
    descripcion : 'Envio de correo solicitando visa de trabajo',
    dia : new Date("10/26/2016")
  }];

  $scope.getFechas = function() {
    return fechas;
  };

  var tick = function() {
    $scope.clock = Date.now();
  };


  $scope.DiferenciaEnDias = function(midia){
    var _hoyDia = new Date(Date.now());
    var timeDiff = midia.getTime() - _hoyDia.getTime();
    return Math.ceil(timeDiff / (1000 * 3600 * 24));
  };

  $scope.DiferenciaEnSegundos = function(midia)
  {
    var _hoyDia = new Date(Date.now());
    var dif = midia.getTime() - _hoyDia.getTime();
    var Seconds_from_T1_to_T2 = dif / 1000;
    //return Math.round(Seconds_from_T1_to_T2);
    return Seconds_from_T1_to_T2;
  };

  $scope.EsPasado = function(midia){
    var _hoyDia = new Date(Date.now());
    var dif = midia.getTime() - _hoyDia.getTime();
    if (dif < 0 )
    {
      return "pasado";
    }
    return "";
  };
  tick();
  $interval(tick, 1000);


});
</script>

</body>
</html>